@model Temiskaming.Models.FAQ

@{
    ViewBag.Title = "InsertFAQ";
}

<h2>InsertFAQ</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <div>
        @Html.LabelFor(model => model.Question)
        @Html.TextAreaFor(model => model.Question)
        
    
    </div>
    <div>
        @Html.LabelFor(model => model.Answer)
        @Html.TextAreaFor(model => model.Answer)
    </div>
    <div>
        <input type="submit" value="Enter" /> @Html.ActionLink("Back", "FAQAdmin", "FAQ")
    </div>

}
