@model Temiskaming.Models.FAQ

@{
    ViewBag.Title = "FAQUpdate";
}

<h2>FAQ Update</h2>

@using(Html.BeginForm())
{
    <div>
    @Html.HiddenFor(x=>x.Id)<!-- Hide ID-->
    
    </div>
    <div>
        <p>Question: </p>
    @Html.TextBoxFor(x=>x.Question)<!--Question TextBox -->
    @Html.ValidationMessageFor(x=>x.Question) <!---Valdiation message if -->
    </div>
    <div>
        <p>Answer: </p>
        @Html.TextBoxFor(x=>x.Answer)<!-- Answer Textbox-->
        @Html.ValidationMessageFor(x=>x.Answer)<!-- Validation Message -->
    </div>
    <div>
        <input type="submit" value="commitUpdate"/>
    </div>
}
    <div>
        @Html.ActionLink("Back", "FAQAdmin", "FAQ")
    </div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
