@model Temiskaming.Models.staff

@{
    ViewBag.Title = "Admin_staffUpdate";
}

<h2>Admin - Staff Update: @Model.staff_fname &nbsp;@Model.staff_lname</h2>

@Html.ActionLink("To Admin-Department List", "DirectoryAdmin")
<br /><hr />

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.staff_id)

    @Html.LabelFor(x => x.staff_fname)
    <br />
    @Html.TextBoxFor(x => x.staff_fname)
    @Html.ValidationMessageFor(x => x.staff_fname)
    <br /><br />

    @Html.LabelFor(x => x.staff_lname)
    <br />
    @Html.TextBoxFor(x => x.staff_lname)
    @Html.ValidationMessageFor(x => x.staff_lname)
    <br /><br />

    @Html.LabelFor(x => x.staff_position)
    <br />
    @Html.TextBoxFor(x => x.staff_position)
    @Html.ValidationMessageFor(x => x.staff_position)
    <br /><br />

    @Html.LabelFor(x => x.staff_phone)
    <br />
    @Html.TextBoxFor(x => x.staff_phone)
    @Html.ValidationMessageFor(x => x.staff_phone)
    <br /><br />

    @Html.LabelFor(x => x.staff_ext)
    <br />
    @Html.TextBoxFor(x => x.staff_ext)
    @Html.ValidationMessageFor(x => x.staff_ext)
    <br /><br />

    @Html.LabelFor(x => x.staff_email)
    <br />
    @Html.TextBoxFor(x => x.staff_email)
    @Html.ValidationMessageFor(x => x.staff_email)
    <br /><br />

    @Html.LabelFor(x => x.staff_departmentId)
    <br />
    @Html.DropDownList("staff_departmentId", ViewBag.DepartID as IEnumerable<SelectListItem>, String.Empty)
    @Html.ValidationMessageFor(x => x.staff_departmentId)
    <br /><br />


    <input type="submit" value="Update" />
}

<br />
<p>
    @Html.ActionLink("Staff Details", "Admin_staffDetails", new { id = Model.staff_id })
    &nbsp;| &nbsp;
    @Html.ActionLink("Back to Staff List", "DirectoryAdmin_Staff", new { id = Model.staff_id })
</p>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}

@*//[Team2]Temiskaming-Hospital website Redesign Project @ Humber College
    //Feature: Directory-Admin
    //File: Admin_staffUpdate.cshtml
    //Author: Jeesoo Kim
    //April 1, 2015*@