@model Temiskaming.Models.staff

@{
    ViewBag.Title = "Admin_staffDetails";
}

<h2>Admin - Details for @Html.DisplayFor(x => x.staff_fname) @Html.DisplayFor(x => x.staff_lname)</h2>

@Html.ActionLink("To Admin-Department List", "DirectoryAdmin")
<br /><hr />

<table>
    <tr>
        <td>Position:</td>
        <td>@Html.DisplayFor(x => x.staff_position)</td>
    </tr>
    <tr>
        <td>Phone:</td>
        <td>@Html.DisplayFor(x => x.staff_phone)</td>
    </tr>
    <tr>
        <td>Extension:</td>
        <td>@Html.DisplayFor(x => x.staff_ext)</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td>@Html.DisplayFor(x => x.staff_email)</td>
    </tr>
    <tr>
        <td>Department ID:</td>
        <td>@Html.DisplayFor(x => x.staff_departmentId)</td>        
    </tr>
</table>

<p>
@Html.ActionLink("Back to Staff List", "DirectoryAdmin_Staff", "Directory")
&nbsp;|&nbsp;
@Html.ActionLink("Update", "Admin_staffUpdate", new { id = Model.staff_id })
&nbsp; | &nbsp;
@Html.ActionLink("Delete", "Admin_staffDelete", new { id = Model.staff_id })
</p>

@*//[Team2]Temiskaming-Hospital website Redesign Project @ Humber College
    //Feature: Directory-Admin
    //File: Admin_staffDetails.cshtml
    //Author: Jeesoo Kim
    //April 1, 2015*@