@model Temiskaming.Models.staff
@{
    ViewBag.Title = "Admin_staffInsert";
}

<h2>Admin - Insert a New Staff</h2>

@Html.ActionLink("To Admin-Department List", "DirectoryAdmin")
<br /><hr />

@using (Html.BeginForm())
{
    @Html.ValidationSummary();

    <table>
        <tr>
            <td>@Html.LabelFor(model => model.staff_fname) * </td>
            <td>@Html.TextBoxFor(model => model.staff_fname)</td>
            <td>@Html.ValidationMessageFor(model => model.staff_fname, "*")</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.staff_lname) * </td>
            <td>@Html.TextBoxFor(model => model.staff_lname)</td>
            <td>@Html.ValidationMessageFor(model => model.staff_lname, "*")</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.staff_position) * </td>
            <td>@Html.TextBoxFor(model => model.staff_position)</td>
            <td>@Html.ValidationMessageFor(model => model.staff_position, "*")</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.staff_phone) * </td>
            <td>@Html.TextBoxFor(model => model.staff_phone, new { @Value = "(705) 647-1088" })</td>
            <td>@Html.ValidationMessageFor(model => model.staff_phone, "*")</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.staff_ext) * </td>
            <td>@Html.TextBoxFor(model => model.staff_ext, new { @Value = "x" })</td>
            <td>@Html.ValidationMessageFor(model => model.staff_ext, "*")</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.staff_email) * </td>
            <td>@Html.TextBoxFor(model => model.staff_email, new { @Value = "*@temiskming-hospital.com" })</td>
            <td>@Html.ValidationMessageFor(model => model.staff_email, "*")</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.staff_departmentId) * </td>
            <td>
                @Html.DropDownList("staff_departmentId", ViewBag.DepartID as IEnumerable<SelectListItem>, String.Empty)           
                @*Thanks to Jaden*@                
            </td>
            <td>@Html.ValidationMessageFor(model => model.staff_departmentId, "*")</td>
        </tr>
              


    </table>


    <br />
    <input type="submit" value="New Staff" />
}

<br />
<p>@Html.ActionLink("Back to Staff List", "DirectoryAdmin_Staff")</p>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}

@*//[Team2]Temiskaming-Hospital website Redesign Project @ Humber College
    //Feature: Directory-Admin
    //File: Admin_staffInsert.cshtml
    //Author: Jeesoo Kim
    //April 1, 2015*@


