@model IEnumerable<Temiskaming.Models.staff>

@{
    ViewBag.Title = "DirectoryAdmin_Staff";
}

@section css{
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/Content/doc_style/jquery.dataTables.css" />
    <script type="text/javascript" src="~/Scripts/jquery.dataTables.min.js"></script>
}

<h2>Admin -Staff List</h2>

@Html.ActionLink("To Admin-Department List", "DirectoryAdmin")
<br /><hr />

<p>@Html.ActionLink("Insert a New Staff", "Admin_staffInsert", "Directory") </p>
<table id="staffTable">
    <thead>
        <tr>
            <th>Staff Name</th>
            <th>Position</th>
            <th>Phone</th>
            <th>Extension</th>
            <th>Email</th>
            <th>Department Name</th>
            <th>Department ID</th>
            <th>Option</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.ActionLink(item.staff_fname + " " + item.staff_lname, "Admin_staffDetails", new { id = item.staff_id })</td>
                <td>@Html.DisplayFor(modelItem => item.staff_position)</td>
                <td>@Html.DisplayFor(modelItem => item.staff_phone)</td>
                <td>@Html.DisplayFor(modelItem => item.staff_ext)</td>
                <td>@Html.DisplayFor(modelItem => item.staff_email)</td>
                <td>
                    @{
            switch (item.staff_departmentId)
            {
                case 1:
                    // Use the text block below to separate html elements from code
                    <text>Senior Management(1)</text>
                    break;  // Always break each case
                case 2:
                <text>Physicians(2)</text>
                    break;
                case 3:
                <text>Nursing(3)</text>
                    break;
                case 4:
                <text>Midwives(4)</text>
                    break;
                case 5:
                <text>Human Resources(5)</text>
                    break;
                case 6:
                <text>Patients Relations(6)</text>
                    break;
                case 7:
                <text>Volunteer(7)</text>
                    break;
                case 8:
                <text>Finances(8)</text>
                    break;
                case 9:
                <text>Website Technical Support(9)</text>
                    break;
                case 10:
                <text>Maintenance(10)</text>
                    break;
                case 11:
                <text>Physician Recruitment(11)</text>
                    break;
                default:
                <text></text>
                    break;
            }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.staff_departmentId)
                </td>
                <td>
                    @Html.ActionLink("Update", "Admin_staffUpdate", new { id = item.staff_id }) |
                    @Html.ActionLink("Delete", "Admin_staffDelete", new { id = item.staff_id })
                </td>
            </tr>
        }
    </tbody>
</table>


<script>
    $(document).ready(function () {
        $('#staffTable').dataTable();
    });
</script>

@*//[Team2]Temiskaming-Hospital website Redesign Project @ Humber College
    //Feature: Directory-Admin
    //File: DirectoryAdmin_Staff.cshtml
    //Author: Jeesoo Kim
    //April 1, 2015*@


