@model IEnumerable<Temiskaming.Models.department>

@{
    ViewBag.Title = "Directory";
}

@section css{   
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#accordion").accordion();
        });
    </script>
}

<h2>Hospital Directory</h2>
<div id="accordion">
    @foreach (var item in Model)
    {
        @*<li>*@
        <h3>
            @Ajax.ActionLink(item.d_name, "_staffIndex", "Directory", new { departmentId = item.d_id }, new AjaxOptions
                 {
                     HttpMethod = "Post",
                     UpdateTargetId = "staff_detail",
                     InsertionMode = InsertionMode.Replace
                 })
        </h3>
        <div>
            <p>
                Phone: @item.d_phone
                <br />
                Extension: @item.d_ext
                <br />
                Fax: @item.d_fax                
            </p>
        </div>
    }
</div>
<br />
<div id="staff_detail"></div>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}

@*//[Team2]Temiskaming-Hospital website Redesign Project @ Humber College
    //Feature: Directory-Public
    //File: Index.cshtml
    //Author: Jeesoo Kim
    //March30, 2015*@
