@model Temiskaming.Models.staff

<h2>Staff Details</h2>

<table>
    <tr>
        <td>Name:</td>
        <td>@Model.staff_fname &nbsp;&nbsp; @Model.staff_lname</td>
    </tr>
    <tr>
        <td>Position:</td>
        <td>@Model.staff_position</td>
    </tr>
    <tr>
        <td>Phone:</td>
        <td>@Model.staff_phone</td>
    </tr>
    <tr>
        <td>Extension:</td>
        <td>@Model.staff_ext</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td>@Model.staff_email</td>
    </tr>
</table>

<br />
@*Html.ActionLink("Back to Staff List", "staffIndex", new { departmentId = @Model.staff_department})*@

@*//[Team2]Temiskaming-Hospital website Redesig Project @ Humber College
    //Feature: Directory-Public
    //File: staffDetails.cshtml
    //Author: Jeesoo Kim
    //March30, 2015*@