@model IEnumerable<Temiskaming.Models.staff>
<h2>Staff List in @Model.FirstOrDefault().staff_departmentName</h2>

@*Ref1:http://forums.asp.net/t/1702524.aspx?Accessing+IEnumerable+Model+values+outside+the+foreach+at+Razor+view
    Ref2:http://stackoverflow.com/questions/6703353/how-to-use-labelfor-on-a-strongly-typed-view-for-a-list*@

<ol>
    @foreach (var item in Model)
    {
        <li>
            <p><b>@item.staff_fname @item.staff_lname</b></p>
            Position: @item.staff_position
            <br />
            Extension:@item.staff_ext
            <br />
            Email:@item.staff_email
            <br/>
        </li>
    }
</ol>

<br />
@Html.ActionLink("Collapse Staff Details", "Index", "Directory")

@*//[Team2]Temiskaming-Hospital website Redesig Project @ Humber College
    //Feature: Directory-Public
    //File: staffIndex.cshtml
    //Author: Jeesoo Kim
    //March30, 2015*@