@model Temiskaming.Models.donationsPublic

@{
    ViewBag.Title = "Temiskaming - Review Donation";
}

<h2>Review your Donation</h2>
    <table>
        <tr>
            <td>@Html.LabelFor(x => x.fname)</td>
            <td>@Html.DisplayFor(x => x.fname)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.lname)</td>
            <td>@Html.DisplayFor(x => x.lname)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.email)</td>
            <td>@Html.DisplayFor(x => x.email)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.amount)</td>
            <td>@Html.DisplayFor(x => x.amount)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.message)</td>
            <td>@Html.DisplayFor(x => x.message)</td>
        </tr>
        <tr></tr>
    </table>

@*Paypal button HTML*@
<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_donations">
    <input type="hidden" name="currency_code" value="CAD" />
    <input type="hidden" name="no_shipping" value="1" />
    <input type="hidden" name="item_name" value="Temiskaming Donation">
    <input type="hidden" name="custom" value="@Html.DisplayFor(x => x.id)" />
    <input type="hidden" name="amount" value="@Html.DisplayFor(x => x.amount)" />
    <input type="hidden" name="email" value="@Html.DisplayFor(x => x.email)" />
    <input type="hidden" name="first_name" value="@Html.DisplayFor(x => x.fname)" />
    <input type="hidden" name="last_name" value="@Html.DisplayFor(x => x.lname)" />
    <input type="hidden" name="donation_id" value="1" />
    <input type="hidden" name="business" value="3KNFQG88JTCCY">
    <input type="hidden" value="0" name="no_shipping">
    <input type="hidden" value="http://temis.sumeetb.com/donation/success" name="return">
    <input type="hidden" name="notify_url" value="http://temis.sumeetb.com/donation/ipn" />
    <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
