@model Temiskaming.Models.donationsPublic

@{
    ViewBag.Title = "Temiskaming - Review Donation";
}

<h2>Review your Donation</h2>

@using (Html.BeginForm("SubmitDonation", "Donation", FormMethod.Post))
{
    <table>
        <tr>
            <td>@Html.LabelFor(x => x.fname)</td>
            <td>@Html.DisplayFor(x => x.fname)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.lname)</td>
            <td>@Html.DisplayFor(x => x.lname)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.email)</td>
            <td>@Html.DisplayFor(x => x.email)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.amount)</td>
            <td>@Html.DisplayFor(x => x.amount)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.message)</td>
            <td>@Html.DisplayFor(x => x.message)</td>
        </tr>
        <tr></tr>
    </table>
}

<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_donations">
    <input type="hidden" name="currency_code" value="CAD" />
    <input type="hidden" name="item_name" value="Temiskaming Donation">
    <input type="hidden" name="amount" value="12.00" />
    <input type="hidden" name="business" value="3KNFQG88JTCCY">
    <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
<form name="_xclick" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_donations">
    <input type="hidden" name="business" value="sumeet.bhu-facilitator@gmail.com">
    <input type="hidden" name="item_name" value="Temiskaming Donation">
    <input type="hidden" name="currency_code" value="CAD">
    <input type="hidden" name="amount" value="25.00">
    <input type="image" src="http://www.paypal.com/en_US/i/btn/x-click-butcc-donate.gif" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
</form>