@model Temiskaming.Models.alert

@{

    DateTime expirydate = (DateTime)@Model.alertTimeline;

    var showTime = expirydate - @DateTime.Now;

}

<div id="alertDiv">

    <h3>@Model.alertTitle</h3>
    <p>
        @Model.alertDescription <strong>
        is for the next

        @if (@showTime.Days > 0)
        {@showTime.Days } Days
        @showTime.Hours hours
    </strong>
    </p>
    <p>@Model.alertLevel</p>
</div>


<script>

</script>