@model IEnumerable<Temiskaming.Models.alert>

@{
    
    ViewBag.Title = "Alerts List";
}
<br />
<div id="alert">
    <button class="buttons">@Html.ActionLink("Click here to add a New Alert", "AddAlert")</button>
    <br /><br />

    <h2>All alerts</h2>

    @foreach (var record in Model)
    {
        <h3>@record.alertTitle</h3>
        <p>@Html.DisplayFor(m => record.alertDescription) <strong>@Html.DisplayFor(m => record.alertTimeline)</strong></p>
        <p>@Html.DisplayFor(m => record.alertLevel) </p>
        <p>
            <strong>
                @if (record.alertStatus.Value == true)
                {<span>Its active</span>}
                else
                {<span>Its de-active</span>}
            </strong>
        </p>
        <br />
        <button class="button"> @Html.ActionLink("Update", "UpdateAlert", new { id = record.alertId }) </button>
        <button class="button"> @Html.ActionLink("Delete", "DeleteAlert", new { id = record.alertId }) </button>
        <button class="button"> @Html.ActionLink("Publish", "PublishAlert", new { id = record.alertId }) </button>
        <br /><br />
    }
</div>