@model IEnumerable<Temiskaming.Models.email_signup>
@{
    ViewBag.Title = "AdminEmailSignups";
}

@*Table which displays all email signups *@

<table class="admin_email">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Option 1</th>
        <th>Option 2</th>
    </tr>
    @* table row for each record of signups *@
    @foreach (var x in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => x.ename)
            </td>
            <td>
                @Html.DisplayFor(model => x.elname)
            </td>
            <td style="width:450px">
                @Html.DisplayFor(model => x.eemail)
            </td>
            @* link which goes to update signup *@
            <td>
                @Html.ActionLink("Update", "Update", new { id = x.Id })
            </td>
            @* link which deletes the signup *@
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = x.Id })
            </td>
        </tr>
    }
</table>