@model Temiskaming.Models.email_signup

@{
    ViewBag.Title = "Update Entry: ";
}
@* form for updating email signups *@
<div id="email_form">
    @using (Html.BeginForm())
    {
        <table id="emailform">
            @* hidden field for id of signup *@

            @Html.HiddenFor(x => x.Id)
            <tr>
                @*label, textbox and validation message for first name*@
                <th>
                    @Html.LabelFor(x => x.ename)
                </th>
                <td>
                    @Html.TextBoxFor(x => x.ename, new { @class = "emailform" })
                    @Html.ValidationMessageFor(x => x.ename, "*")
                </td>
            </tr>
            <tr>
                @*label, textbox and validation message for last name *@
                <th>
                    @Html.LabelFor(x => x.elname)
                </th>
                <td>
                    @Html.TextBoxFor(x => x.elname, new { @class = "emailform" })
                    @Html.ValidationMessageFor(x => x.elname, "*")
                </td>
            </tr>
            <tr>
                @*label, textbox and validation message for email *@
                <th>
                    @Html.LabelFor(x => x.eemail)
                </th>
                <td>
                    @Html.TextBoxFor(x => x.eemail, new { @class = "emailform" })
                    @Html.ValidationMessageFor(x => x.eemail, "*")
                </td>
            </tr>
        </table>
        @* submit button for updating the review *@
        <input type="submit" value="Update Signup" />
        <br /> <br />
        @Html.ValidationSummary()
    }
</div>
@* link to go back to admin email signups page *@
<p>@Html.ActionLink("Back to all signups", "AdminShowSignups", "AdminEmail")</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}  