@using Temiskaming.Models
@model IEnumerable<Temiskaming.Models.waittime>

@*@{ var objwaittime = new WaittimeClass();}*@

@{
    ViewBag.Title = "admin";
}

<h2>Wait Time Admin Page</h2>
@Html.ActionLink("Create New Patient", "create")
<table>
    <tr>
        <td>Name</td>
        <td>Time of Admission</td>
        <td>Time of Seeing a Doctor</td>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.name</td>
            <td>@x.time_admit</td>
            <td>@x.time_doctor</td>
            <td>@Html.ActionLink("Edit", "update", new {id = x.id})</td>
            <td>@Html.ActionLink("Delete", "delete", new
                {
                    id = x.id
                })</td>
        </tr>
    }
</table>
