@model Temiskaming.Models.waittime

@{
    ViewBag.Title = "create";
}


@{
    DateTime currentTime = DateTime.Now; //create a variable that holds the current time.
}
<h2>create</h2>
<p>It is now @currentTime</p>
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <br />
    @Html.LabelFor(x=>x.name)
    @Html.TextBoxFor(x=>x.name)
    @Html.ValidationMessageFor(x=>x.name)
    <br/>
    @Html.HiddenFor(x=>x.time_admit, new {@Value = currentTime}) //create a hidden field whose value is the current time
    <br/>
    
    <input type="submit" value="Create"/>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}