@model Temiskaming.Models.ContactForm

@{
    ViewBag.Title = "ContactForm";
}

<h2>Contact Form</h2>

@using (Html.BeginForm())
{
    <div class="contact-left">
        <ul class="Contact-list">
            <li>
                @Html.LabelFor(model => model.Name)
            </li>
            <li>
                @Html.LabelFor(model => model.Comment)
                </li>
          <li>  @Html.LabelFor(model => model.Email)
        </li>
        </ul>
    </div>
    <div class="contact-right">
        <ul class="Contact-list">
            <li>
                @Html.TextBoxFor(model => model.Name, new { @class = "" })
                @Html.ValidationMessageFor(model => model.Name, "*")
            </li>
            <li>
                @Html.TextBoxFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email, "*")
            </li>
            <li>
                @Html.TextAreaFor(model => model.Comment)
                @Html.ValidationMessageFor(model => model.Comment, "*")
            </li>
            <li>
                <input type="submit" value="submit" />
            </li>
        </ul>

    </div>
    
}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}