@model Temiskaming.Models.volunteer_opportunity

<h2>Details: @Html.DisplayFor(x => x.o_name)</h2>

<table>
    <tr>
        <td>Date:</td>
        <td>
        @{
            if (Model.o_date.ToString() == "" || Model.o_date.ToString() == null)
            {
                @:""
            }
            else
            {
                @Html.DisplayFor(x => x.o_date)
            }
         }
        </td>
    </tr>
    <tr><td>Day:</td>
        <td>
            @{
                if (Model.o_day.ToString() == "" || Model.o_day.ToString() == null)
                {
                    @:""
            }
                else
                {
                    @Html.DisplayFor(x => x.o_day)
                }
            }           
        </td>
    </tr>
    <tr>
        <td>Start Time:</td>
        <td>@Html.DisplayFor(x => x.o_start)</td>
    </tr>
    <tr>
        <td>End Time:</td>
        <td>@Html.DisplayFor(x => x.o_end)</td>
    </tr>
    <tr>
        <td>Location:</td>
        <td>@Html.DisplayFor(x => x.o_location)</td>
    </tr>
    <tr>
        <td>Description:</td>
        <td>@Html.DisplayFor(x => x.o_description)</td>
    </tr>
</table>

<p>@Html.ActionLink("Collapse Details", "VolunteerAdmin_Index", "Volunteer")</p>

@*//[Team2]Temiskaming-Hospital website Redesign Project @ Humber College
    //Feature: Volunteer-Admin
    //File: _Admin_oppDetails.cshtml
    //Author: Jeesoo Kim
    //April 7, 2015*@