@model Temiskaming.Models.volunteer
@{
    ViewBag.Title = "Admin_volInsert";
}

<h2>Admin - Insert a New Volunteer</h2>

@Html.ActionLink("To Volunteer Opprtunities List", "VolunteerAdmin_Index", "Volunteer")&nbsp; | &nbsp;
<hr />

<br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <table>
        <tr>
            <td>@Html.LabelFor(model => model.v_fname) * </td>
            <td>@Html.TextBoxFor(model => model.v_fname)</td>
            <td>@Html.ValidationMessageFor(model => model.v_fname, "*")</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.v_lname)  </td>
            <td>@Html.TextBoxFor(model => model.v_lname, new { @Value = "lastname" })</td>
            <td>@Html.ValidationMessageFor(model => model.v_lname, "*")</td>
        </tr>

        <tr>
            <td>@Html.LabelFor(model => model.v_address)  </td>
            <td>@Html.TextBoxFor(model => model.v_address, new { @Value = "# address Street/Avenue/..." })</td>
            <td>@Html.ValidationMessageFor(model => model.v_address, "*")</td>
        </tr>

        <tr>
            <td>@Html.LabelFor(model => model.v_city)  </td>
            <td>@Html.TextBoxFor(model => model.v_city, new { @Value = "city" })</td>
            <td>@Html.ValidationMessageFor(model => model.v_city, "*")</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.v_province)  </td>
            <td>
                @Html.DropDownListFor(model => model.v_province, new[] {
                    new SelectListItem(){Text ="AB", Value="AB"},
                    new SelectListItem(){Text ="BC", Value="BC"},
                    new SelectListItem(){Text ="MB", Value="MB"},
                    new SelectListItem(){Text ="NB", Value="NB"},
                    new SelectListItem(){Text ="NL", Value="NL"},
                    new SelectListItem(){Text ="NS", Value="NS"},
                    new SelectListItem(){Text ="NT", Value="NT"},
                    new SelectListItem(){Text ="NU", Value="NU"},
                    new SelectListItem(){Text ="ON", Value="ON"},
                    new SelectListItem(){Text ="PE", Value="PE"},
                    new SelectListItem(){Text ="QC", Value="QC"},
                    new SelectListItem(){Text ="SK", Value="SK"},
                    new SelectListItem(){Text ="YT", Value="YT"},
                    new SelectListItem(){Text="", Value="",Selected=true}
                            })
            </td>
            <td>@Html.ValidationMessageFor(model => model.v_province, "*")</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.v_postalCode)  </td>
            <td>@Html.TextBoxFor(model => model.v_postalCode, new { @Value = "A1A 2B2" })</td>
            <td>@Html.ValidationMessageFor(model => model.v_postalCode, "*")</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.v_phone) * </td>
            <td>@Html.TextBoxFor(model => model.v_phone, new { @Value = "(416) 123-4567" })</td>
            <td>@Html.ValidationMessageFor(model => model.v_phone, "*")</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.v_email) * </td>
            <td>@Html.TextBoxFor(model => model.v_email, new { @Value = "*@*.*" })</td>
            <td>@Html.ValidationMessageFor(model => model.v_email, "*")</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.v_status) * </td>
            @*<td>@Html.TextBoxFor(model => model.v_status, new { @Value = "Approved" })</td>*@
            <td>
                @Html.DropDownListFor(model => model.v_status, new[] {                    
                    new SelectListItem(){Text ="Active", Value="Active"},
                    new SelectListItem(){Text ="Approved", Value="Approved"},
                    new SelectListItem(){Text ="Pending", Value="Pending"},
                    new SelectListItem(){Text ="Under Review", Value="Under Review"},
                    new SelectListItem(){Text ="Withdrawn", Value="Withdrawn"},
                    new SelectListItem(){Text ="Not Available", Value="Not Available"},
                    new SelectListItem(){Text="", Value="", Selected=true}
                            })
            </td>
            <td>@Html.ValidationMessageFor(model => model.v_status, "*")</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.v_schedule) * </td>
            @*each opportunity has its own set time slot, so option is to choose the day of the week*@
            <td>
                @Html.DropDownListFor(model => model.v_schedule, new[] {
                            new SelectListItem(){Text ="Monday - Friday" ,Value = "Monday -Friday"},
                            new SelectListItem(){Text="Monday", Value= "Monday"},
                            new SelectListItem(){Text="Tuesday", Value="Tuesday"},
                            new SelectListItem(){Text="Wednesday", Value="Wednesday"},
                            new SelectListItem(){Text="Thursday", Value="Thursday"},
                            new SelectListItem(){Text="Friday", Value="Friday"},
                            new SelectListItem(){Text="Saturday", Value="Saturday"},
                            new SelectListItem(){Text="Sunday", Value="Sunday"},
                            new SelectListItem(){Text="", Value="", Selected= true}
                            })
        </td>
        <td></td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.v_oppId) </td>
        <td>
            @Html.DropDownList("v_oppId", ViewBag.OpportunityID as IEnumerable<SelectListItem>, String.Empty)
        </td>
        <td>@Html.ValidationMessageFor(model => model.v_oppId, "*")</td>
    </tr>


</table>
    <br />
    <input type="submit" value="Insert" />
}
<br />

<p>@Html.ActionLink("Back to Volunteers List", "VolunteerAdmin_volIndex")</p>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}


@*//[Team2]Temiskaming-Hospital website Redesign Project @ Humber College
    //Feature: Volunteer -Admin
    //File:Admin_volInsert.cshtml
    //Author: Jeesoo Kim
    //April 7, 2015*@