@{
    ViewBag.Title = "SignOut";
}

<div style="width: auto; background-color:whitesmoke;">
    @if (Request.IsAuthenticated)
    {
        @:Hello,
        <strong>@Html.Encode(User.Identity.Name)</strong> @:! |
        @Html.ActionLink("Sign Out", "Signout", "Volunteer")
    }
    else
    {
        @Html.ActionLink("Sign Up", "SignUp", "Volunteer")
        <span> | </span>
        @Html.ActionLink("Sign In", "SignIn", "Volunteer")
    }
</div>

<h2>SignOut</h2>


<p>Bye now!</p>

@Html.ActionLink("Back to Volunteer Home", "Index", "Volunteer") |
@Html.ActionLink("Back to Home", "Index", "Home")