@model IEnumerable<Temiskaming.Models.volunteer_opportunity>
@{
    ViewBag.Title = "Volunteer_Admin";
}

@section css{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#accordion").accordion({ heightStyle: 'content' });
        });
    </script>
}

<h2>Volunteer Opportunities - Admin Index</h2>

@Html.ActionLink("To Volunteers List", "VolunteerAdmin_volIndex", "Volunteer")&nbsp; | &nbsp;
<hr />
@Html.ActionLink("Insert a New Volunteer Opportunity", "Admin_oppInsert", "Volunteer")
<br /><br />

<div id="accordion">
    @foreach (var item in Model)
    {
        <h3>@Ajax.ActionLink(item.o_name, "_Admin_volList", "Volunteer", new { oppId = item.o_id }, new AjaxOptions
                    {
                        HttpMethod = "Post",
                        UpdateTargetId = "volList_" + item.o_id,
                        InsertionMode = InsertionMode.Replace
                    })
        </h3>
        <div>
            <p>                
                Regular: @{
                            if (item.o_regular == true)
                            { <text> Yes </text>}
                            else
                            { <text>No, Occasional/Special </text>}
                                    }
                <br/>
                Date: @{
                        if (item.o_date.HasValue)
                        {
                            @item.o_date.Value.ToShortDateString();
                        }
                        else
                        {
                            <text>N/A</text>
                        }
                        }
                <br/>
                Day of Week: @{
                                if (item.o_day == "" || item.o_day == null)
                                {
                                    @: N/A
                                                        }
                                else
                                {
                                    @item.o_day
                                }
                            }
                <br/>
                Time: @item.o_start  ~   @item.o_end
                <br/>
                Location: @item.o_location
                <br/>
                Description: @item.o_description
                <br/>
                <div id="volList_@item.o_id"></div>
                <br/><br/>
                Option: @Html.ActionLink("Update", "Admin_oppUpdate", new { id = item.o_id }) 
                |
                @Html.ActionLink("Delete", "Admin_oppDelete", new { id = item.o_id })
            </p>
        </div>               
    }@*end of foreach*@
</div>@*end of #accordion*@
  @section Scripts{
    @Scripts.Render("~/bundles/jquertval")
}

@*Physiotherapy Department: 10:00 a.m. – 12:00 p.m.<br />
    Emergency Department: 8:00 a.m. – 2:00 p.m.<br />
    Long-Term Care Activity Room: 10:00 a.m. – 2:00 p.m.<br />
    Outpatient Clinics: (days & times will vary depending on outpatient clinic).<br />
    Day Medicine/Cancer Care Department: 9:30 a.m. – 12:30 p.m.<br />
    Long-Term Care Department: 4:00 p.m. – 6:00 p.m.<br />*@

@*//[Team2]Temiskaming-Hospital website Redesign project @ Humber College
    //Feature: Volunteer - Admin View (Index page)
    //File : VolunteerAdmin_Index.cshtml
    //Author: Jeesoo Kim
    //Created: April 7, 2015*@