@model Temiskaming.Models.appointment

@{
    ViewBag.Title = "BookAppointment";
    
    if(ViewBag.Error != null)
    { <p>@ViewBag.Error</p>
        ViewBag.Error = null;
    }
}

@section Scripts{
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    
    <link rel="stylesheet" href="~/Content/classic.css" />
    <link rel="stylesheet" href="~/Content/classic.date.css" />
    <script type="text/javascript" src="~/Scripts/picker.js"></script>
    <script type="text/javascript" src="~/Scripts/picker.date.js"></script>
    
}

<h2>BookAppointment</h2>

@using(@Html.BeginForm())
{

 <label>Doctor : <strong>@ViewBag.Name</strong></label>
    <br />
<label>Pick a date</label>
@Html.TextBoxFor(x => x.booking_date, new { @class = "datepicker" })
<br />
<label>Enter email</label>
@Html.TextBoxFor(x => x.email)
<br />
@Html.LabelFor(x => x.phone )
@Html.TextBoxFor(x => x.phone)
<br /><br />
    <input type="submit" value="submit" />

}
<script>

    @*This datepicker api is used from source : http://amsul.ca/pickadate.js/*@

    $(document).ready(function () {
        $('.datepicker').pickadate();
    });
</script>