<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
    
   
    @RenderSection("css", false)
    @if (Session["email"] != null)
    {
        <style>#chat {display: block;}</style>
    }
</head>
<body>
    <div class="disclaimer">
        <p>! This is a student project. The official Temiskaming hospital is located at <a href="http://www.temiskaming-hospital.com">www.temiskaming-hospital.com</a>.</p>
    </div>
    
        <header>
            <div id="hwrapper">
                <div id="logo">

                </div>
                <nav>
                    <ul>
                        @{Html.RenderAction("Nav", "Home", new { group = "Home" });}
                        @*Uses partial views to render dynamic menu*@
                    </ul>
                </nav>
            </div>
        </header>
    <div id="wrapper">
        <div class="menu">
            
            @if (ViewBag.Group != null)
            {
                <div id="menuIcon">
                    
                </div>
            <nav>
                @{Html.RenderAction("Nav", "Home", new { group = ViewBag.Group });}
            </nav>
            }
        </div>
        <div id="container">
            @if (ViewBag.Group == "Admin" || ViewBag.Group == "Nurse")
            {
                
                <div id="adminContent">
                    @Html.Partial("_LoginPartial")
                    @RenderBody()
                </div>
            }
            else { 
            <div id="content">
                @RenderBody()
            </div>
            }
            @if (ViewBag.Group != "Admin" && ViewBag.Group != "Nurse")
            {
            <aside>
                <div id="alertBox">
                    <h2>Alert</h2>
                    <div id="alert">
                        @{Html.RenderAction("ActiveAlert", "Alert");}
                    </div>
                </div>
                
                <div id="giftBox">
                    <h2>Gift Shop</h2>
                </div>
                <div id="ecard_side">
                    <h2>@Html.ActionLink("Send E-Card","SelectImage", "Ecard")</h2>
                </div>
                <div id="donateBox">
                    <h2>@Html.ActionLink("Donate", "Index", "Donation")</h2>
                </div>
                <div id="appointBox">
                    <h2>Book an Appointment</h2>
                </div>
                <div id="chatBox">

                    <h2><a>Live Chat</a></h2>
                    <div id="chat">
                        @{Html.RenderAction("Index", "Chat");}
                    </div>

                </div>

            </aside>   
            }
        </div>
    </div>
        <footer>
            <div id="fwrapper">
                <nav>
                    <ul>
                        <li>@Html.ActionLink("Newsletter Signup", "EmailSignup", "EmailSignup")</li>
                        <li>@Html.ActionLink("Survey", "PostedPoll", "Survey")</li>
                        <li>@Html.ActionLink("FAQ", "FAQ", "FAQ")</li>
                        <li><a href="#">Site Map</a></li>
                        <li>@Html.ActionLink("Admin", "Admin", "Home")</li>
                    </ul>
                </nav>
                
            </div>
        </footer>
    
        @RenderSection("scripts", required: false)
        @Scripts.Render("~/bundles/jqueryval")
</body>
</html>
