@model Temiskaming.Models.doctor

@{
    ViewBag.Title = "Doctor Details: " + @Model.lname;
}


@{
    ViewBag.Heading = "Admin-Doctor in Detail";
}

<h3>Dr. @Html.DisplayFor(x => x.fname) &nbsp; @Html.DisplayFor(x => x.lname)</h3>
<fieldset>
    <legend>About Doctor</legend>
    <table>
        <tr>            
            <td>Status: </td>
            <td>@Html.DisplayFor(x => x.status)  </td>
        </tr>
        <tr>            
            <td>Title: </td>
            <td>@Html.DisplayFor(x => x.title) </td> 
        </tr>
        <tr>
                       <td>Department:</td>
            <td> @Html.DisplayFor(x => x.department)</td>
        </tr>
        <tr>
            <td>Special role:</td>
            <td>@Html.DisplayFor(x => x.role)</td>
        </tr>
        <tr>
            <td>Program involved:</td> 
            <td>@Html.DisplayFor(x => x.program)</td>
        </tr>

        <tr>            
            <td>Brief Bio: </td>
            <td>@Html.DisplayFor(x => x.bio)</td>
        </tr>
    </table>
</fieldset>
<fieldset>
    <legend>Contact Info</legend>
    <table>
        <tr>
            <td>Email: </td>
            <td><a href="mailto:@Html.DisplayFor(x => x.email)">Send an email(click)</a></td></tr>
        <tr>
            <td>Extension: </td>
            <td>@Html.DisplayFor(x => x.extension)</td></tr>
        <tr>
            <td>Phone: </td>
            <td>@Html.DisplayFor(x => x.phone)</td></tr>
        <tr>
            <td>Office: Room#. </td>
            <td>@Html.DisplayFor(x => x.office)</td></tr>
        <tr>
            <td>Office Hour: </td>
            <td>@Html.DisplayFor(x => x.office_hr)</td></tr>
    </table>
</fieldset>
<br/>

<p>
    @Html.ActionLink("Back to List", "Index", "Doctors")     
</p>

@*added on March 18, 2015*@
@*[Team2]Temiskaming-Hospital Website Redesign Project @ Humber college
    Feature: Find a doctor -Public
    File: Details.cshtml
    Author: Jeesoo Kim
     Feb 17, 2015*@