@model Temiskaming.Models.doctor

@{
    ViewBag.Title = "Dr." + @Model.lname;
}

<h2>Find A Doctor -ADMIN </h2>

<h2>Details for Dr. @Html.DisplayFor(x => x.lname) , @Html.DisplayFor(x => x.fname) </h2>
<hr />
<h3>@Html.DisplayFor(x => x.title)</h3>



<table>
    <tr>
        @*<td>@Html.DisplayNameFor(x => x.status) :</td>*@
        <td>Status:</td>
        <td> @Html.DisplayFor(x => x.status)</td>
    </tr>
    <tr>
        @*<td>@Html.DisplayNameFor(x => x.department):</td>*@
        <td>Department:</td>
        <td> @Html.DisplayFor(x => x.department)</td>
    </tr>
    <tr>
        <td>Special role:</td>
        <td> @Html.DisplayFor(x => x.role)</td>
    </tr>
    <tr>
        <td>Program involved: </td>
        <td>@Html.DisplayFor(x => x.program)</td>
    </tr>

    <tr>
        @*<td>@Html.DisplayNameFor(x => x.office): </td>*@
        <td>Office: Room# </td>
        <td>@Html.DisplayFor(x => x.office)</td>
    </tr>
    <tr>
        @*<td>@Html.DisplayNameFor(x => x.office_hr): </td>*@
        <td>Office Hour: </td>
        <td>@Html.DisplayFor(x => x.office_hr)</td>
    </tr>
    <tr>
        @*<td>@Html.DisplayNameFor(x => x.phone): </td>*@
        <td>Phone: </td>
        <td>@Html.DisplayFor(x => x.phone)</td>
    </tr>
    <tr>
        @*<td>@Html.DisplayNameFor(x => x.extension): </td>*@
        <td>Extension: </td>
        <td>@Html.DisplayFor(x => x.extension)</td>
    </tr>
    <tr>
        @*<td>@Html.DisplayNameFor(x => x.email): </td>*@
        <td>Email:</td>
        <td>@Html.DisplayFor(x => x.email)</td>
    </tr>
</table>
<br/>

<fieldset>
    <legend>Brief Bio</legend>
    @Html.DisplayFor(x => x.bio)
</fieldset>

<p>
    @Html.ActionLink("Back to List", "FindADocAdmin", "Doctors")
    &nbsp;&nbsp;|&nbsp;&nbsp;
    @Html.ActionLink("Update", "FindADocUpdate", new { id = @Model.Id })
    &nbsp;&nbsp;|&nbsp;&nbsp;
    @Html.ActionLink("Delete", "FindADocDelete", new { id = @Model.Id })</p>
    

@*added/updated on March 18, 2015*@
@*[Team2]Temiskaming-Hospital website Dedesign Project @ Humber college
    Feature: Find a doctor
    Author: Jeesoo Kim
     Feb 17, 2015*@