@model IEnumerable<Temiskaming.Models.doctor>

@{
    ViewBag.Title = "Find a Doctor";
    @section css{
        @*Jeesoo added the following on March 18,2015*@            
    }
}

@section Scripts{
@* 1.jquery datatable: added on March 18,2015
   2. correction on 'Content/css/jquery.dataTables.css' for responsive table. March23
*@

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<link rel="stylesheet" href="~/Content/doc_style/jquery.dataTables.css" />
<script type="text/javascript" src="~/Scripts/jquery.dataTables.min.js"></script>
}

<h2>Find a Doctor </h2>

@using (Html.BeginForm("Index", "Doctors", FormMethod.Get))
{
    /*Note:"the default BeginForm submits form data with a POST: parameters are passed in the HTTP message body and not in the URL as query strings."
    *"HTTP Get: the form data is passed in the URL as query strings -> enabling users to bookmark the URL"  
    *"The W3C guidlines for the use of HTTP GET recommend to use GET when the action does not result in an update.
     March 17, 2015 */
    
    <p>
        Medical Department: @Html.DropDownList("medicalDepartment", "All")
        &nbsp;&nbsp;
        Last Name: @Html.TextBox("SearchString", ViewBag.currentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
@*Mar 17*@

<table id="doctorTable" class="display">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.currentFilter })
            </th>
            <th class="tab_optional">Title</th>
            <th>
                @Html.ActionLink("Medical Departm't", "Index", new { sortOrder = ViewBag.DepartSortParm, currentFilter = ViewBag.currentFilter })
            </th>
            <th class="tab_optional">Ext.</th>
            <th class="tab_optional">Email</th>            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>                    
                    @Html.ActionLink(item.fname + " " + item.lname, "Details", new { id = item.Id })
                </td>
                <td class="tab_optional">@Html.DisplayFor(modelItem => item.title)</td>
                <td>@Html.DisplayFor(modelItem => item.department)</td>
                <td class="tab_optional">@Html.DisplayFor(modelItem => item.extension)</td>
                <td class="tab_optional">@Html.DisplayFor(modelItem => item.email)</td>                
            </tr>
        }
    </tbody>    
</table>
<br/>
<br/>
<a href="http://www.cpso.on.ca/public-register/all-doctors-search" target="_blank">Extermal link: All Doctors Search (The College of Physicians and Surgeons of Ontario)</a>
    <script>
    $(document).ready(function () {
        $('#doctorTable').dataTable();
    });
    </script>

    @*updated on March 17, 2015
        Ref1:http://www.asp.net/mvc/overview/getting-started/getting-started-with-ef-using-mvc/sorting-filtering-and-paging-with-the-entity-framework-in-an-asp-net-mvc-application
        Ref2:http://www.codeproject.com/Tips/823490/Bootstrap-Table-With-Sorting-Searching-and-Paging*@
    @*It was not intended to have two search functions. Before implementing jQuery dataTables plugin (responsive, sorting, and pagination functionality), the main functionality, "Searching", for this feature has already been built in. In order to set this feature to be responsive, jQuery is plugged in now. Decide to keep two search functions because of each one's pros.
        * With the programmed search function in the Controller, we can search for doctors with two parameters, last name and department, while the results are displayed only after the search button is clicked.
         This gives a user more option to use more search keywords, which would narrow down the way to find a doctor in question.
         The jQuery search function is faster,and convenient because it gives the result simutaneously while the search key is entered. It just gives the result matching with any word at that moment.*@


    @*[Team2]Temiskaming-Hospital Website Rededesign Project @ Humber college
        Feature: Find a doctor - Public
        File: Index.cshtml
        Author: Jeesoo Kim
         Feb 17, 2015*@
