@model IEnumerable<FindADoctor.Models.doctor>

@{
    ViewBag.Title = "SearchIndex";
}


@{
    ViewBag.Heading = "Admin-Search Index";
}

<div class="sub_heading">
    <h2>Admin-SearchIndex</h2>
</div>




<p>@Html.ActionLink("Register a New Doctor", "Insert")</p>

@using (Html.BeginForm("SearchIndex", "Doctors", FormMethod.Get))
{
    <p>
        Medical Department: @Html.DropDownList("medicalDepartment", "All")
        &nbsp;&nbsp;
        Last Name: @Html.TextBox("SearchString")
        <input type="submit" value="Filter" />
    </p>
}


<table>
    <tr>
        <th>@Html.DisplayNameFor(model => model.fname)</th>
        <th>
            @Html.DisplayNameFor(model => model.lname)
        </th>
        <th>@Html.DisplayNameFor(model => model.title)</th>
        <th>@Html.DisplayNameFor(model => model.department)</th>
        <th>@Html.DisplayNameFor(model => model.email)</th>
        <th>@Html.DisplayNameFor(model => model.extension)</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.fname)</td>
            <td>@Html.DisplayFor(modelItem => item.lname)</td>
            <td>@Html.DisplayFor(modelItem => item.title)</td>
            <td>@Html.DisplayFor(modelItem => item.department)</td>
            <td>@Html.DisplayFor(modelItem => item.email)</td>
            <td>@Html.DisplayFor(modelItem => item.extension)</td>
            <td>
                @Html.ActionLink("Update", "Update", new { id = item.Id })  |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>