@model Temiskaming.Models.doctor

@{
    ViewBag.Title = "Update Doctor: " + @Model.lname;
}

@{
    ViewBag.Heading = "Admin-Update Doctors";
}


<div class="sub_heading">
    <h2>Update: @Model.fname  @Model.lname</h2>
</div>

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.Id)



    @Html.LabelFor(x => x.fname)
    <br />
    @Html.TextBoxFor(x => x.fname)
    @Html.ValidationMessageFor(x => x.fname)
    <br /><br />

    @Html.LabelFor(x => x.lname)
    <br />
    @Html.TextBoxFor(x => x.lname)
    @Html.ValidationMessageFor(x => x.lname)
    <br /><br />

    @Html.LabelFor(x => x.status)
    <br />
    @Html.TextBoxFor(x => x.status)
    @Html.ValidationMessageFor(x => x.status)
    <br /><br />

    @Html.LabelFor(x => x.title)
    <br />
    @Html.TextBoxFor(x => x.title)
    @Html.ValidationMessageFor(x => x.title)
    <br /><br />

    @Html.LabelFor(x => x.department)
    <br />
    @Html.TextBoxFor(x => x.department)
    @Html.ValidationMessageFor(x => x.department)
    <br /><br />

    @Html.LabelFor(x => x.role)
    <br />

    @Html.TextBoxFor(x => x.role)
    @Html.ValidationMessageFor(x => x.role)
    <br /><br />

    @Html.LabelFor(x => x.program)
    <br />

    @Html.TextBoxFor(x => x.program)
    @Html.ValidationMessageFor(x => x.program)
    <br /><br />


    @Html.LabelFor(x => x.email)
    <br />

    @Html.TextBoxFor(x => x.email)
    @Html.ValidationMessageFor(x => x.email)
    <br /><br />

    @Html.LabelFor(x => x.extension)
    <br />

    @Html.TextBoxFor(x => x.extension)
    @Html.ValidationMessageFor(x => x.extension)
    <br /><br />

    @Html.LabelFor(x => x.phone)
    <br />

    @Html.TextBoxFor(x => x.phone)
    @Html.ValidationMessageFor(x => x.phone)
    <br /><br />

    @Html.LabelFor(x => x.office)
    <br />

    @Html.TextBoxFor(x => x.office)
    @Html.ValidationMessageFor(x => x.office)
    <br /><br />

    @Html.LabelFor(x => x.office_hr)
    <br />

    @Html.TextBoxFor(x => x.office_hr)
    @Html.ValidationMessageFor(x => x.office_hr)
    <br /><br />

    @Html.LabelFor(x => x.bio)
    <br />

    @Html.TextAreaFor(x => x.bio)
    @Html.ValidationMessageFor(x => x.bio)
    <br /><br />

    <input type="submit" value="Update" />
}

<p>
    @Html.ActionLink("Back to details", "Details", new { id = Model.Id })
</p>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}


@*[Team2]Temiskaming-Hospital website Dedesign Project @ Humber college
    Feature: Find a doctor
    Author: Jeesoo Kim
     Feb 17, 2015*@