@model Temiskaming.Models.jobapplicationValidation

@{
    ViewBag.Title = "ApplytoJob";
}

<h2>Submit your application</h2>

@* form with controls and validation for them for job application *@
@using (Html.BeginForm())
{
    <div style="width:100%">
        <table id="job_form">
            <tr>
                @*hidden field and label for jobtitle *@
                <th>
                    @Html.HiddenFor(model => model.jobtitle, new { @Value = ViewBag.passjob })
                    @Html.LabelFor(model => model.jobtitle)
                </th>
                <td>
                    @ViewBag.passjob
                </td>
            </tr>
            <tr>
                @*label, textbox and validation message for name of applicant *@
                <th>
                    @Html.LabelFor(model => model.aname)
                </th>
                <td>
                    @Html.TextBoxFor(model => model.aname, new { @class = "jobform" })
                    @Html.ValidationMessageFor(model => model.aname, "*")
                </td>
            </tr>
            <tr>
                @*label, textbox and validation message for phone number of applicant *@
                <th>
                    @Html.LabelFor(model => model.aphone)
                </th>
                <td>
                    @Html.TextBoxFor(model => model.aphone, new { @class = "jobform" })
                    @Html.ValidationMessageFor(model => model.aphone, "*")
                </td>
            </tr>
            <tr>
                @*label, textbox and validation message for email *@
                <th>
                    @Html.LabelFor(model => model.aemail)
                </th>
                <td>
                    @Html.TextBoxFor(model => model.aemail, new { @class = "jobform" })
                    @Html.ValidationMessageFor(model => model.aemail, "*")
                </td>
            </tr>
            <tr>
                @*label, textbox and validation message for coverletter *@
                <th>
                    @Html.LabelFor(model => model.acoverletter)
                </th>
                <td>
                    @Html.TextAreaFor(model => model.acoverletter)
                    @Html.ValidationMessageFor(model => model.acoverletter, "*")
                </td>
            </tr>
            <tr>
                @*label, textbox and validation message for resume *@
                <th>
                    @Html.LabelFor(model => model.aresume)
                </th>
                <td>
                    @Html.TextAreaFor(model => model.aresume)
                    @Html.ValidationMessageFor(model => model.aresume, "*")
                </td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align:right">
                    <input type="submit" value="Apply" />
                </td>
            </tr>
        </table>
        <br /> <br />
        @Html.ValidationSummary()
    </div>
}
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
