@model IEnumerable<Temiskaming.Models.job>

@{
    ViewBag.Title = "ViewPostings";
}

<h2>View Job Postings</h2>


<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
@*accordion script for job postings*@
<script>
    $(function () {
        $("#accordion").accordion();
    });
</script>

@*accordion which shows job postings: description, qualifications, duration, posted date and a link to apply for the job *@
<div id="accordion">
    @foreach (var x in Model)
    {
        <h3 class="accordion_h3">@Html.DisplayFor(model => x.jobtitle)</h3>
        <div>
            <p>
                @Html.DisplayFor(model => x.jobdescr)
            </p>
            <h4>Qualifications</h4>
            <p>
                @Html.DisplayFor(model => x.qualifications)
            </p>
            <h4>Duration</h4>
            <p>
                @Html.DisplayFor(model => x.duration)
            </p>
            <h4>Posted Date</h4>
            <p>
                @Html.DisplayFor(model => x.posteddate)
            </p>
            <a href="@Url.Action("ApplytoJob", "JobPostings", new { passjob = x.jobtitle })">
                <div>Apply for this job</div>
            </a>
        </div>
    }
</div>
