@{
    ViewBag.Title = "Temiskaming - Welcome";
    @Styles.Render("~/Content/Admin.css")
}
<nav>
    <ul>
        <li>@Ajax.ActionLink("CMS", "CMS", "CMS", new AjaxOptions{
                HttpMethod = "Post",
                UpdateTargetId = "adminWin",
                InsertionMode = InsertionMode.Replace
            })</li>
        <li><a href="#">CHAT</a></li>
        <li><a href="#">Job Applications</a></li>
        <li></li>
        <li></li>
    </ul>
</nav>

<h2>Welcome, @Session["USER"]</h2>

@Html.ActionLink("Logout", "Index", "Admin", new { logout = true }, null)

<br /><br />

<div id="adminWin">

</div>


@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}