@model IEnumerable<Temiskaming.Models.poll>

@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="../Content/Themes/ashwin.css" />

<div id="survey">

    <h2>Polling</h2>

    <button class="buttons"> @Html.ActionLink("Click here to add a New Poll", "AddPoll")</button>
      

    @foreach (var record in Model)
    {
        <br/><br /><br />
        <div id="ques">
            <h3>@record.question</h3>
            <div id="option">
                <p>Option 1: @Html.DisplayFor(m => record.option1)</p>
                <p>Option 2:  @Html.DisplayFor(m => record.option2)</p>
            </div>
            <div id="result">
                <h4>Result For</h4>

                <p> @record.option1 -  @Html.DisplayFor(m => record.choice1)</p>
                <p> @record.option2 - @Html.DisplayFor(m => record.choice2)</p>
            </div>
            <br /><br/>        

        @if ((record.choice1 == 0) && (record.choice2 == 0))
        {
            <button class="survey-button">@Html.ActionLink("Update", "UpdatePoll", new { id = record.id })</button>
        }
        
        @if((record.published != true ))
        {<button class="survey-button">

            @Html.ActionLink("Delete", "DeletePoll", new { id = record.id })
        </button>
    <button class="survey-button">
        @Html.ActionLink("Publish", "PublishPoll", new { id = record.id })
    </button>
        }
            </div>
    }
    
</div>

