@model IEnumerable<Temiskaming.Models.poll>

@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="../Content/Themes/ashwin.css" />

<div id="survey">

    <h2>Polling</h2>

    <button class="buttons"> @Html.ActionLink("Click here to add a New Poll", "AddPoll")</button>
      

    @foreach (var record in Model)
    {
        <br/><br /><br />
        <div id="ques">
            <h3>@record.question</h3>
            <p>@Html.DisplayFor(m => record.option1) @Html.DisplayFor(m => record.option2)</p>

            <p>Result for option 1 : @Html.DisplayFor(m => record.choice1) </p>
            <p>Result for option 2 : @Html.DisplayFor(m => record.choice2) </p>

            <br /><br/>
        

        @if ((record.choice1 == 0) && (record.choice2 == 0))
        {
            <button class="survey-button">@Html.ActionLink("Update", "UpdatePoll", new { id = record.id })</button>
        }
        
        @if((record.published != true ))
        {<button class="survey-button">

            @Html.ActionLink("Delete", "DeletePoll", new { id = record.id })
        </button>
    <button class="survey-button">
        @Html.ActionLink("Publish", "PublishPoll", new { id = record.id })
    </button>
        }

            </div>


    }
</div>

