@model Temiskaming.Models.Order

@{
    ViewBag.Title = "Order";
}

<h2>Order</h2>

<div>
    <ul>
     
            <li>
                @Html.DisplayFor(x => x.OrderId)
                @Html.DisplayFor(x =>x.FirstName)
                @Html.DisplayFor(x=>x.LastName)
                @Html.DisplayFor(x=>x.Email)
                <br/>
                @Html.DisplayFor(x=>x.Item)
                @Html.DisplayFor(x=>x.Price)
                @Html.DisplayFor(x =>x.ToPatient)
                @Html.DisplayFor(x=>x.From)
                @Html.DisplayFor(x=>x.Message)
                @Html.DisplayFor(x=>x.OrderDate)
               
               
            </li>
        
    </ul>
    @Html.ActionLink("Back", "Order", "GiftShop")
</div>